.task__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EFE2E2;
        width: 55px;
        height: 55px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px 0 18px;
    line-height: 20px;
    height: 58px;
    min-width: 224px;
    background-color: #EFE2E2;
    border-radius: 40px;
    color: #463D3D;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}