.task__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

    .button {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: #EFE2E2;
        padding: 13px;
        border-radius: 50px;
        cursor: pointer;
    }
}

.item {
    text-align: center;
    padding: 15px 18px;
    overflow: hidden;
    flex-shrink: 1;
    text-overflow: ellipsis;
    min-width: 224px;
    max-width: 224px;
    background-color: #EFE2E2;
    border-radius: 40px;
    color: #463D3D;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}